{% extends 'base.html.twig' %}

{% block title %}Editing {{ app.user.firstname }}'s Profile{% endblock %}

{% block body %}
<div class="sidebar">
    <h1>Adding {{ app.user.firstname }}'s Hobbies</h1>
    {{form(form1) }}
</div>
<div class="">
{% for Hobbies in app.user.Hobbies %}
    <h2>{{Hobbies.NAME}}</h2>
{% endfor %}

</div>
{% endblock %}
