{% extends 'base.html.twig' %}

{% block title %}Editing {{ app.user.firstname }}'s Profile{% endblock %}

{% block body %}
<div class="">
    <h1>Adding {{ app.user.firstname }}'s Jobs</h1>
    {{form(form3) }}
</div>
<div class="">
{% for Jobs in app.user.Jobs %}
    <h2>{{Jobs.NAME}}</h2>
{% endfor %}

</div>

{% endblock %}
