{% extends 'base.html.twig' %}

{% block title %}Editing {{ app.user.firstname }}'s Profile{% endblock %}

{% block body %}
<div class="">
    <h1>Adding {{ app.user.firstname }}'s Skills</h1>
    {{form(form) }}
</div>
<div class="">
{% for Skills in app.user.Skills %}
    <h2>{{Skills.NAME}}</h2>
{% endfor %}

</div>
{% endblock %}
