{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
.form{
      border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button[type=submit] {
  width: 100%;
  background-color:  #00a9b0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius:4px;
  cursor: pointer;
}
</style>
<div class="flex">
{% include '/info/index.html.twig' %}
<div class="content">
    <div class="form">
    <h1>Partagez Votre CV</h1>
    {{ form(contactform)}}
    
    </div>
  
</div>
</div>
{% endblock %}
