{% extends 'base.html.twig' %}

{% block title %}Editing {{ app.user.firstname }}'s Profile{% endblock %}

{% block body %}
<div class="sidebar">
    <h1>Editing {{ app.user.firstname }}'s Profile</h1>
    {{form(form) }}
</div>

{% endblock %}
